@{
    ViewBag.Title = "Index";
}

<h2>Početni view za korisnike</h2>

<p>Ulogiran si kao @ViewBag.UserName @ViewBag.Role</p>
<p>@Html.ActionLink("Odlogiraj se", "Logout", "HomeUser")</p>
<p>@Html.ActionLink("Odi na svoju stranicu", "Index", "Manager")</p>

