@model UpravljanjeCekanjem.Models.LogInModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    
    <p>@Html.TextBoxFor(u => u.UserName)</p>
    <p>@Html.PasswordFor(u => u.Password)</p>
    <p><input type="submit" value="Log In"></p>
    }

