@model UpravljanjeCekanjem.Models.LogInModel
@{
    ViewBag.title = "Stranica za korisnike";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile-area tile-area-white">
    <h1 class="fg-darker">Za nastavak rada potrebna je prijava u sustav.</h1>
    <h2 class="fg-darker">Molim prijavite se.</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Prijavljivanje neuspješno.");
        <p class="fg-darker">Korisničko ime:</p>
        <p>@Html.TextBoxFor(u => u.UserName)</p>
        <p class="fg-darker">Lozinka:</p>
        <p>@Html.PasswordFor(u => u.Password)</p>
        <p><input type="submit" value="Prijavi se."></p>
    }
</div>

