USE [master]
GO
/****** Object:  Database [BAZA]    Script Date: 27.12.2014. 19:08:56 ******/
CREATE DATABASE [BAZA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BAZA', FILENAME = N'C:\Users\Ante\BAZA.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BAZA_log', FILENAME = N'C:\Users\Ante\BAZA_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAZA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAZA]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 27.12.2014. 19:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[userName] [nvarchar](50) NOT NULL,
	[ime] [nvarchar](50) NULL,
	[prezime] [nvarchar](50) NULL,
	[lozinka] [nvarchar](50) NOT NULL,
	[razinaPrava] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Postavke]    Script Date: 27.12.2014. 19:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavke](
	[Identifikator] [int] NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[vrijednost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifikator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tiket]    Script Date: 27.12.2014. 19:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiket](
	[redniBroj] [int] NOT NULL,
	[tip] [nvarchar](50) NOT NULL,
	[vrijemeIzdavanja] [datetime] NOT NULL,
	[vrijemeDolaska] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[redniBroj] ASC,
	[tip] ASC,
	[vrijemeIzdavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipTiketa]    Script Date: 27.12.2014. 19:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipTiketa](
	[tip] [nvarchar](50) NOT NULL,
	[opis] [nvarchar](50) NULL,
	[ponudjena] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD  CONSTRAINT [FK_Tiket_TipTiketa] FOREIGN KEY([tip])
REFERENCES [dbo].[TipTiketa] ([tip])
GO
ALTER TABLE [dbo].[Tiket] CHECK CONSTRAINT [FK_Tiket_TipTiketa]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [CK_Korisnik_razinaPrava] CHECK  (([razinaPrava]='službenik' OR [razinaPrava]='nadzornik'))
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [CK_Korisnik_razinaPrava]
GO
USE [master]
GO
