@{
    ViewBag.Title = "Službenik";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = true;
}

<h2>Prostor za službenika</h2>
<p>
    <h3>Šalter: @ViewData["šalter"] - Klijent na redu: @ViewData["tiket"]</h3>
    <br />
    
</p>
<div class="grid">
    <div class="row">
        <div class="span6" style="border-style:solid;border-color:blueviolet">
            <div class="row">
                <div class="span2">
                    <p style="margin-top:35%;margin-bottom:35%;margin-left:4px;font-size:large">@Html.DropDownList("tipovi")</p>
                </div>
                <div class="span3">
                    <button class="large primary" type="button" id="šalter" style="margin-top:17%" data-user=@User.Identity.Name>Promijeni šalter</button>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="tile bg-cyan" id="next" data-pult=@ViewData["šalter"] data-num=@ViewData["tiket"] style="text-align:center;color:white">
                <div class="tile-content" style="margin-top:25%;font-size:x-large">
                    Sljedeći klijent
                </div>
            </div>
            <div class="tile bg-cyan" id="flash" style="text-align:center;color:white">
                <div class="tile-content" style="margin-top:25%;font-size:x-large">
                    Zabljesni brojem!
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start().done(function () {
            $('#flash').click(function () {
                serv.server.pokreni_flash('@ViewData["šalter"]');
            });
            $('#next').click(function () {
                var tip = $('#next').data('pult');
                var naRedu = $('#next').data('num');
                if (naRedu != 0)
                    serv.server.next_client(tip);
                serv.server.osvjezi_screen_tip();
                setTimeout(
                function () {
                    location.reload();
                }, 500);
            });
            $('#šalter').click(function () {
                var user = $('#šalter').data('user');
                var e = document.getElementById("tipovi");
                var tip = e.options[e.selectedIndex].text;
                serv.server.promijeni_salter(tip, user);
                setTimeout(
                    function () {
                        location.reload();
                    }, 500);
            });
        }).fail(function (error) {
            console.log('greska ' + error);
        });
    });
</script>