@model System.Collections.Generic.Dictionary<string, int>
@{
    ViewBag.Title = "Screen";
}
<head>
    <title>Screen</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
function startTime() {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('sat').innerHTML = h+":"+m+":"+s;
    var t = setTimeout(function(){startTime()},500);
}

function checkTime(i) {
    if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
    </script>
</head>
<body onload="startTime()">
    <h2>Screen</h2>
    <p id="broj">Velicina teksta: </p>
    <p id="sat" style="font-size:@ViewBag.vel;color:@ViewBag.boja"></p>
    <p id="broj2">@ViewBag.broj</p>
        <script>
            $(function () {
                var serv = $.connection.cvorHub;
                $.connection.hub.start();
                serv.client.pokreni = function (vel,boja) {
                    console.log('pozvano');
                    $('#broj').html(vel+' '+boja);
                    $('#sat').css('font-size', vel);
                    $('#sat').css('color', boja);
                    //location.reload(true);
                };
                serv.client.flash = function () {
                    console.log('flash');
                    $("#broj2").fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                };
            });
        </script>
</body>
@foreach (var entry in Model)
{
    <p id="@entry.Key">Red: @entry.Key Sljedeći broj: @entry.Value</p>
}

