@model IEnumerable<UpravljanjeCekanjem.Models.TipTiketa>
@{
    ViewBag.title = "Stranica za klijente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = false;
}

<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start();
        serv.client.dohvati_tipove = function (listatipova, listaopisa) {
            $("#gumbi").html('<span id="gumbi"></span>');
            for (var i = 0, l = listatipova.length; i < l; i++) {
                $("#gumbi").append('<div class="tile bg-darkPink" onclick="location.href=\'../HomeClient/IzdajTiket?tip=' + listatipova[i] + '\'"><div class="tile-status"><span class="name">'+listatipova[i]+ ' : ' + listaopisa[i] + '</span></div></div>');
            }

        };
    });
</script>
<div class="container tile-area-dark">
    
    <div class="tile-area tile-area-dark">
        <h1 class="fg-white">Molimo izaberite opciju za koju želite uslugu.</h1>

        <span id="gumbi">
            @foreach (var tip in Model)
            {
                <div class="tile double bg-darkCyan" onclick="location.href = '../HomeClient/IzdajTiket?tip=@tip.tip'">
                    <div class="tile-status">
                        <span class="name"><h1 class="fg-white">@tip.tip</h1>@tip.opis</span>
                    </div>
                </div>
            }
        </span>
    </div>
</div>
<div class="container tile-area-dark">
    PowerRangers
</div>