@model IEnumerable<UpravljanjeCekanjem.Models.TipTiketa>
@{
    ViewBag.title = "Stranica za klijente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = true;
}

<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start();
        serv.client.dohvati_tipove = function (listatipova, listaopisa) {
            $("#gumbi").html('<span id="gumbi"></span>');
            for (var i = 0, l = listatipova.length; i < l; i++) {
                $("#gumbi").append('<div class="tile double bg-darkCyan" onclick="location.href=\'../HomeClient/IzdajTiket?tip=' + listatipova[i] + '\'"><div class="tile-status" data-click="transform"><span class="name"><h1 class="fg-white">' + listatipova[i] + '</h1>' + listaopisa[i] + '</span></div></div>');
            }

        };
    });
</script>
<div class="main-content clearfix">
    <h1 class="fg-dark">Molimo izaberite opciju za koju želite uslugu.</h1>
    <div class="tile-area">
        
        <div class="tile-group"  style="width:100%"  align="center">
            
            <span id="gumbi">
                @foreach (var tip in Model)
                {
                    <div class="tile double bg-darkCyan" onclick="location.href = '@Url.Action("IzdajTiket", new { tip = tip.tip })'" data-click="transform">
                        <div class="tile-status">
                            <span class="name"><h1 class="fg-white">@tip.tip</h1>@tip.opis</span>
                        </div>
                    </div>
                }
            </span>
        </div>

    </div>

</div>
