@model IEnumerable<UpravljanjeCekanjem.Models.TipTiketa>
<title>Klijent</title>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

@{
    ViewBag.Title = "Klijent";
}
<h2>Stranica za klijente</h2>


<span id="gumbi">
    @foreach (var tip in Model)
{
    <p><input type="button" id="@tip.tip" value="@tip.tip" onclick="location.href = '../HomeClient/IzdajTiket?tip=@tip.tip'">@tip.opis</p>
}
</span>

<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start();
        serv.client.dohvati_tipove = function (listatipova, listaopisa) {
            $("#gumbi").html('<span id="gumbi"></span>');
            for (var i = 0, l = listatipova.length; i < l; i++) {
                $("#gumbi").append('<p>'+'<input type="button" id=' + listatipova[i] + ' value="' + listatipova[i] + '" onclick="location.href=\'../HomeClient/IzdajTiket?tip=' + listatipova[i] + '\'">' + listaopisa[i]+'</p>');
            }
            
        };
    });
</script>
