@model UpravljanjeCekanjem.Models.TipTiketa
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = true;
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Neuspjelo dodavanje.");

    <p>Tip: @Html.TextBoxFor(u => u.tip)</p>
    <p>Opis: @Html.TextBoxFor(u => u.opis)</p>
    <p>Ponuđena: @Html.CheckBoxFor(u => u.ponudjena)</p>
    <input type="submit" value="Dodaj tip tiketa" id="add">
    <input type="button" id="back" value="Natrag." onClick ="location.href='../Manager/'">
}