@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@Html.ValidationSummary(true, "Greška pri brisanju TipTiketa iz baze!");
<p><input type="button" id="back" value="Natrag." onclick="location.href='../Manager/'"></p>