@model UpravljanjeCekanjem.Models.TipTiketa
<head>
    <title>Edit</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Neuspjelo dodavanje.");

    <p>Izmjeni @Model.tip</p>
    <p>Opis: @Html.EditorFor(u => u.opis)</p>
    <p>Ponuđena: @Html.EditorFor(u => u.ponudjena)</p>
    <input type="submit" id="save" value="Spremi izmjene.">
    <input type="button" id="back" value="Natrag." onClick ="location.href='../Manager/'">
    <input type="button" value="Izbriši." id="delete" onclick="parent.location = 'delete?tip=@Model.tip'">
}