@model UpravljanjeCekanjem.Models.TipTiketa
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = true;
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Neuspjelo dodavanje.");
    <br/>
    <div style="width:250px">
        <p>Izmjeni @Model.tip</p>
        <p>Opis: <span style="float:right">@Html.EditorFor(u => u.opis)</span></p>
        <p>Ponuđena: @Html.EditorFor(u => u.ponudjena)</p>
    </div>
    <br/>
    <input type="submit" id="save" value="Spremi izmjene.">
    <input type="button" id="back" value="Natrag." onclick="location.href='../Manager/'">
    <input type="button" value="Izbriši." id="delete" onclick="parent.location = 'delete?tip=@Model.tip'">
    
}
