@model IEnumerable<UpravljanjeCekanjem.Models.TipTiketa>
<head>
    <title>Nadzornik</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
@{
    ViewBag.Title = "Index";
}
<body>
<h2>Prostor za nadzornika</h2>
@Html.ActionLink("Odlogautaj se", "Logout", "HomeUser")<br/>
<p>Velicina teksta sata: </p><form><input type="text" name="velteksta" id="velteksta"></form>
    <button type="button" id="refresh">Refreshaj Screen</button>
        <script>
            $(function () {
                var serv = $.connection.cvorHub;
                $.connection.hub.start().done(function () {
                    console.log("spojeno");
                    $('#refresh').click(function () {
                        serv.server.pokreni_refresh($('#velteksta').val());
                        $('#velteksta').val('');
                    });
                }).fail(function (error) {
                    console.log('greska ' + error);
                });
            });
        </script>
</body>
<p>Opcije redova: </p>
<ul>
    @foreach (var opcija in Model)
    {
        if(opcija.opis!=null){
        <p>@Html.ActionLink(opcija.opis, "Edit", new { tip = opcija.tip })</p>
        }
        else { 
        <p>@Html.ActionLink("bezopisna", "Edit", new { tip = opcija.tip })</p>
        }
    }
</ul>
<p>@Html.ActionLink("Dodaj novu", "Add", "Manager")</p>